
<div id="wrap">

<div id="main-content" class="outerbox clearfix fitvids infinite-scroll-enabled">


<div id="post" class="clearfix">
    <div class="container clearfix">
        <div id="single-media-wrap">
            <img src="{{ attribute(attribute(entry.metadata,"images")|first,"url") }}" alt="{{ attribute(attribute(entry.metadata,"images")|first,"title") }}" id="post-thumbnail">
        </div><!-- /single-media-wrap -->

        <header id="single-heading">
            <h1>{{ entry.title }}</h1>
            <section class="meta clearfix" id="single-meta">
                <ul>
                    <li class="meta-single-date"><span class="icon-calendar"></span>{{ entry.datePublished|date("F jS \\a\\t g:ia") }}</li>
                    <li class="meta-single-cat"><span class="icon-folder-open"></span><a href="http://wpexplorer-demos.com/fashionista/category/love/" title="View all posts in Love" rel="category tag">{{ entry.categoryId }}</a></li>
                    <li class="meta-single-user"><span class="icon-user"></span><a href="http://wpexplorer-demos.com/fashionista/author/demoswpex/" title="Posts by WPExplorer" rel="author">{{ entry.authorId }}</a></li>
                    <li class="comment-scroll meta-single-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/moving-in-together/#comments" class="comments-link" title="Comment on Moving in Together">3 Comments</a></li>
                    <li class="meta-single-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-96" title="Like this"><span class="zilla-likes-count">73</span> <span class="zilla-likes-postfix"></span></a></li>				</ul>
            </section><!--/meta -->
        </header><!-- /single-meta -->

        <article class="entry clearfix">
            {% autoescape 'js' %}{{ entry.content|raw }}{% endautoescape %}
        </article><!-- /entry -->



        <div id="single-author" class="clearfix">
            <div id="author-image">
                <img alt="" src="http://0.gravatar.com/avatar/403d47c8b227172b283afd4e3ef7d969?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">            </div><!-- author-image -->
            <div id="author-bio">
                <h4><a href="http://wpexplorer-demos.com/fashionista/author/demoswpex/" title="Posts by WPExplorer" rel="author">WPExplorer</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh.</p>
            </div><!-- author-bio -->
        </div><!-- /single-author -->

        <div id="single-share" class="clearfix">
            <h4><span class="icon-plus"></span>Share This Post</h4>
            <div class="share-btns">
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1395870373.html#_=1396760873501&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwpexplorer-demos.com%2Ffashionista%2Fmoving-in-together%2F&amp;size=m&amp;text=Fashionista%20%C2%BB%20Moving%20in%20Together&amp;url=http%3A%2F%2Fwpexplorer-demos.com%2Ffashionista%2Fmoving-in-together%2F" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
                <div class="fb-like fb_iframe_widget" data-send="false" data-show-faces="false" data-layout="button_count" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;href=http%3A%2F%2Fwpexplorer-demos.com%2Ffashionista%2Fmoving-in-together%2F&amp;layout=button_count&amp;locale=en_GB&amp;sdk=joey&amp;send=false&amp;show_faces=false"><span style="vertical-align: bottom; width: 76px; height: 20px;"><iframe name="f198b3ca3c" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FwTH8U0osOYl.js%3Fversion%3D40%23cb%3Df109a4efc8%26domain%3Dwpexplorer-demos.com%26origin%3Dhttp%253A%252F%252Fwpexplorer-demos.com%252Ff311c9da78%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwpexplorer-demos.com%2Ffashionista%2Fmoving-in-together%2F&amp;layout=button_count&amp;locale=en_GB&amp;sdk=joey&amp;send=false&amp;show_faces=false" class="" style="border: none; visibility: visible; width: 76px; height: 20px;"></iframe></span></div>
                <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background-position: initial initial; background-repeat: initial initial;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1396760873218" name="I0_1396760873218" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=http%3A%2F%2Fwpexplorer-demos.com&amp;url=http%3A%2F%2Fwpexplorer-demos.com%2Ffashionista%2Fmoving-in-together%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.es.wlW-bTG2Q50.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Fz%3Dzcms%2Frs%3DAItRSTNpx18gLYRXap7OiF6wwgnnjcxbQg#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1396760873218&amp;parent=http%3A%2F%2Fwpexplorer-demos.com&amp;pfname=&amp;rpctoken=15064180" data-gapiattached="true" title="+1"></iframe></div>
                <a href="http://pinterest.com/pin/create/button/" class="PIN_1396760873510_pin_it_button_20 PIN_1396760873510_pin_it_button_en_20_gray PIN_1396760873510_pin_it_button_inline_20 PIN_1396760873510_pin_it_above_20" data-pin-config="above" data-pin-log="button_pinit_bookmarklet"><span class="PIN_1396760873510_pin_it_button_count" id="PIN_1396760873510_pin_count_0"><i></i>0</span></a>
            </div><!-- /share-btns -->
        </div><!-- /single-share -->


    </div><!-- /container -->

    <nav id="single-nav" class="clearfix">
        <div id="single-nav-left"><a href="http://wpexplorer-demos.com/fashionista/15-lip-gloss/" rel="next"><span class="icon-chevron-left"></span>Previous Post</a></div>            <div id="single-nav-right"><a href="http://wpexplorer-demos.com/fashionista/interview-with-a-rockstar/" rel="prev">Next Post<span class="icon-chevron-right"></span></a></div>        </nav><!-- /single-nav -->

    <div id="commentsbox" class="container">
        <div id="comments" class="comments-area clearfix">



            <h3><span>3 Comments</span></h3>


            <ol class="commentlist">
                <li class="comment byuser comment-author-demoswpex bypostauthor even thread-even depth-1" id="li-comment-9">
                    <div id="comment-9" class="comment-body  clearfix">
                        <div class="comment-details">
                            <div class="comment-avatar">
                                <img alt="" src="http://0.gravatar.com/avatar/403d47c8b227172b283afd4e3ef7d969?s=45&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D45&amp;r=G" class="avatar avatar-45 photo" height="45" width="45">                    </div><!-- /comment-avatar -->
                            <section class="comment-author vcard">
                                <cite class="author"><a href="http://www.wpexplorer.me" rel="external nofollow" class="url">AJ Clarke</a></cite>						<span class="comment-date"><a href="http://wpexplorer-demos.com/fashionista/moving-in-together/#comment-9">- September 18, 2012</a></span>
                            </section><!-- /comment-meta -->
                            <section class="comment-content">
                                <div class="comment-text">
                                    <p>Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Phasellus venenatis scelerisque facilisis. Sed et magna id elit dapibus iaculis quis vitae risus. Curabitur condimentum, lorem nec cursus aliquam, ante tellus semper ante, ut aliquam dui sapien vel mi.</p>
                                </div><!-- /comment-text -->
                                <div class="reply">
                                    <a class="comment-reply-link" href="/fashionista/moving-in-together/?replytocom=9#respond" onclick="return addComment.moveForm(&quot;comment-9&quot;, &quot;9&quot;, &quot;respond&quot;, &quot;96&quot;)">Reply to comment→</a>    	                </div><!-- /reply -->
                            </section><!-- /comment-content -->
                        </div><!-- /comment-details -->
                    </div><!-- /comment -->
                    <ul class="children">
                        <li class="comment byuser comment-author-demoswpex bypostauthor odd alt depth-2" id="li-comment-10">
                            <div id="comment-10" class="comment-body  clearfix">
                                <div class="comment-details">
                                    <div class="comment-avatar">
                                        <img alt="" src="http://0.gravatar.com/avatar/403d47c8b227172b283afd4e3ef7d969?s=45&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D45&amp;r=G" class="avatar avatar-45 photo" height="45" width="45">                    </div><!-- /comment-avatar -->
                                    <section class="comment-author vcard">
                                        <cite class="author"><a href="http://www.wpexplorer.me" rel="external nofollow" class="url">AJ Clarke</a></cite>						<span class="comment-date"><a href="http://wpexplorer-demos.com/fashionista/moving-in-together/#comment-10">- September 18, 2012</a></span>
                                    </section><!-- /comment-meta -->
                                    <section class="comment-content">
                                        <div class="comment-text">
                                            <p>Integer vitae mauris vel ligula suscipit auctor. Mauris orci nibh, laoreet nec dictum auctor, pulvinar eget ligula. Proin id purus nec neque pharetra tincidunt a quis lacus.</p>
                                        </div><!-- /comment-text -->
                                        <div class="reply">
                                            <a class="comment-reply-link" href="/fashionista/moving-in-together/?replytocom=10#respond" onclick="return addComment.moveForm(&quot;comment-10&quot;, &quot;10&quot;, &quot;respond&quot;, &quot;96&quot;)">Reply to comment→</a>    	                </div><!-- /reply -->
                                    </section><!-- /comment-content -->
                                </div><!-- /comment-details -->
                            </div><!-- /comment -->
                            <ul class="children">
                                <li class="comment byuser comment-author-demoswpex bypostauthor even depth-3" id="li-comment-11">
                                    <div id="comment-11" class="comment-body  clearfix">
                                        <div class="comment-details">
                                            <div class="comment-avatar">
                                                <img alt="" src="http://0.gravatar.com/avatar/403d47c8b227172b283afd4e3ef7d969?s=45&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D45&amp;r=G" class="avatar avatar-45 photo" height="45" width="45">                    </div><!-- /comment-avatar -->
                                            <section class="comment-author vcard">
                                                <cite class="author"><a href="http://www.wpexplorer.me" rel="external nofollow" class="url">AJ Clarke</a></cite>						<span class="comment-date"><a href="http://wpexplorer-demos.com/fashionista/moving-in-together/#comment-11">- September 18, 2012</a></span>
                                            </section><!-- /comment-meta -->
                                            <section class="comment-content">
                                                <div class="comment-text">
                                                    <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget. Sed sit amet dui felis, tempus porttitor justo. Nam a urna massa, a tempus dui.</p>
                                                </div><!-- /comment-text -->
                                                <div class="reply">
                                                    <a class="comment-reply-link" href="/fashionista/moving-in-together/?replytocom=11#respond" onclick="return addComment.moveForm(&quot;comment-11&quot;, &quot;11&quot;, &quot;respond&quot;, &quot;96&quot;)">Reply to comment→</a>    	                </div><!-- /reply -->
                                            </section><!-- /comment-content -->
                                        </div><!-- /comment-details -->
                                    </div><!-- /comment -->
                                </li><!-- #comment-## -->
                            </ul><!-- .children -->
                        </li><!-- #comment-## -->
                    </ul><!-- .children -->
                </li><!-- #comment-## -->
            </ol><!-- /commentlist -->




            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title"></h3><h3 class="reply-title"><span>Leave a reply</span></h3> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/fashionista/moving-in-together/#respond" style="display:none;">Cancel reply</a></small>
                <form action="http://wpexplorer-demos.com/fashionista/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                    <p class="comment-form-author"><label for="author">Name <span class="required">*</span></label><input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
                    <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label><input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
                    <p class="comment-form-url"><label for="url">Website</label><input id="url" name="url" type="text" value="" size="30"></p>
                    <p class="comment-form-comment"><textarea id="comment" name="comment" aria-required="true" rows="10" placeholder="say something nice..."></textarea></p>												<p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="Submit Comment">
                        <input type="hidden" name="comment_post_ID" value="96" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                    </p>
                </form>
            </div><!-- #respond -->

        </div><!-- /comments -->
    </div><!-- /commentsbox -->


</div><!-- /post -->



    {% include 'formats/sidebar.twig'   %}


<div class="clear"></div>
<section id="related-posts">
    <div id="related-heading">
        <h4><span>More Posts</span></h4>
    </div>
    <div id="wpex-grid-wrap" class="isotope" style="opacity: 1; position: relative; overflow: hidden; height: 1782px;">

        <article class="post-366 post type-post status-publish format-standard hentry category-celebs loop-entry container isotope-item" style="position: absolute; left: 0px; top: 0px;">
            <a href="http://wpexplorer-demos.com/fashionista/cute-girl-posing/" title="The Art of Posing" class="loop-entry-img-link">
                <img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/portrait-of-a-attractive-young-female-isolated-over-white-backgr-440x659.jpg" alt="The Art of Posing">
                <div class="entry-overlay"><span class="icon-plus"></span></div>
            </a>
            <h2><a href="http://wpexplorer-demos.com/fashionista/cute-girl-posing/" title="The Art of Posing">The Art of Posing</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/cute-girl-posing/#respond" class="comments-link" title="Comment on The Art of Posing">0 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-366" title="Like this"><span class="zilla-likes-count">14</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /entry -->


        <article class="post-167 post type-post status-publish format-quote hentry category-celebs tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos loop-entry entry-quote isotope-item" style="position: absolute; left: 340px; top: 0px;">
            <p>“Give a girl the right shoes, and she can conquer the world.”</p>
            <div class="entry-quote-author">- Marilyn Monroe -</div>
        </article><!-- /loop-entry -->


        <article class="post-164 post type-post status-publish format-image hentry category-fashion tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos loop-entry container isotope-item" style="position: absolute; left: 680px; top: 0px;">
            <a href="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/zblack-and-white.jpg" title="Keep It Simple With Black &amp; White" class="loop-entry-img-link fancybox">
                <img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/zblack-and-white-440x537.jpg" alt="Keep It Simple With Black &amp; White">
                <div class="entry-overlay"><span class="icon-fullscreen"></span></div>
            </a>
            <h2><a href="http://wpexplorer-demos.com/fashionista/keep-it-simple-with-black-white/" title="Keep It Simple With Black &amp; White">Keep It Simple With Black &amp; White</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/keep-it-simple-with-black-white/#comments" class="comments-link" title="Comment on Keep It Simple With Black &amp; White">3 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-164" title="Like this"><span class="zilla-likes-count">59</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /entry -->

        <article class="post-159 post type-post status-publish format-image hentry category-love tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos loop-entry container isotope-item" style="position: absolute; left: 340px; top: 187px;">
            <a href="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/photodune-2944735-fashion-portrait-of-a-beautiful-woman-in-black-retro-gloves-m.jpg" title="Heat Things Up" class="loop-entry-img-link fancybox">
                <img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/photodune-2944735-fashion-portrait-of-a-beautiful-woman-in-black-retro-gloves-m-440x293.jpg" alt="Heat Things Up">
                <div class="entry-overlay"><span class="icon-fullscreen"></span></div>
            </a>
            <h2><a href="http://wpexplorer-demos.com/fashionista/heat-things-up/" title="Heat Things Up">Heat Things Up</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/heat-things-up/#respond" class="comments-link" title="Comment on Heat Things Up">0 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-159" title="Like this"><span class="zilla-likes-count">23</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /entry -->

        <article class="post-154 post type-post status-publish format-audio hentry category-advice loop-entry container isotope-item" style="position: absolute; left: 680px; top: 593px;">
            <a href="http://wpexplorer-demos.com/fashionista/your-first-photoshoot/" title="Your First Photoshoot" class="loop-entry-img-link">
                <img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/photodune-1985574-beautiful-woman-on-background-with-blue-lights-m-440x293.jpg" alt="Your First Photoshoot">
                <div class="entry-overlay"><span class="icon-music"></span></div>
            </a>



            <h2 class="loop-entry-title-margin"><a href="http://wpexplorer-demos.com/fashionista/your-first-photoshoot/" title="Your First Photoshoot">Your First Photoshoot</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/your-first-photoshoot/#respond" class="comments-link" title="Comment on Your First Photoshoot">0 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-154" title="Like this"><span class="zilla-likes-count">9</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /loop-entry -->


        <article class="post-151 post type-post status-publish format-video hentry category-advice tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos loop-entry container isotope-item" style="position: absolute; left: 340px; top: 621px;">
            <div class="post-video fitvids" style="opacity: 1;"><iframe src="//player.vimeo.com/video/49636181" width="660" height="371" frameborder="0" title="Kingdom Crumbs - Evoking Spirits... [OFFICIAL MUSIC VIDEO]" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
            <h2><a href="http://wpexplorer-demos.com/fashionista/breaking-bad-illustrated-video/" title="Kingdom Crumbs">Kingdom Crumbs</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/breaking-bad-illustrated-video/#respond" class="comments-link" title="Comment on Kingdom Crumbs">0 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-151" title="Like this"><span class="zilla-likes-count">47</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /loop-entry -->


        <article class="post-148 post type-post status-publish format-standard hentry category-beauty tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos tag-products tag-reviews loop-entry container isotope-item" style="position: absolute; left: 0px; top: 673px;">
            <a href="http://wpexplorer-demos.com/fashionista/try-these-hair-products-now/" title="Try These Hair Products Now" class="loop-entry-img-link">
                <img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/zphotodune-3007452-luxory-brownhaired-model-m-440x293.jpg" alt="Try These Hair Products Now">
                <div class="entry-overlay"><span class="icon-plus"></span></div>
            </a>
            <h2><a href="http://wpexplorer-demos.com/fashionista/try-these-hair-products-now/" title="Try These Hair Products Now">Try These Hair Products Now</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/try-these-hair-products-now/#comments" class="comments-link" title="Comment on Try These Hair Products Now">3 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-148" title="Like this"><span class="zilla-likes-count">34</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /entry -->


        <article class="post-146 post type-post status-publish format-quote hentry category-celebs tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos loop-entry entry-quote isotope-item" style="position: absolute; left: 340px; top: 1019px;">
            <p>“Whoever said that money can’t buy happiness, simply didn’t know where to shop.”</p>
            <div class="entry-quote-author">- Bo Derek -</div>
        </article><!-- /loop-entry -->


        <article class="post-142 post type-post status-publish format-gallery hentry category-fashion tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos loop-entry grid-4 container clearfix isotope-item" style="position: absolute; left: 680px; top: 1027px;">
            <a href="http://wpexplorer-demos.com/fashionista/feathers-and-fur/" title="Feathers and Fur" class="loop-entry-img-link">
                <img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/zportrait-of-a-beautiful-luxurious-woman-m-440x440.jpg" alt="Feathers and Fur">
                <div class="entry-overlay"><span class="icon-picture"></span></div>
            </a>
            <h2><a href="http://wpexplorer-demos.com/fashionista/feathers-and-fur/" title="Feathers and Fur">Feathers and Fur</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/feathers-and-fur/#respond" class="comments-link" title="Comment on Feathers and Fur">0 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-142" title="Like this"><span class="zilla-likes-count">26</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /entry -->


        <article class="post-139 post type-post status-publish format-standard hentry category-celebs tag-art tag-fashion-2 tag-make-up tag-models tag-music tag-photos loop-entry container isotope-item" style="position: absolute; left: 0px; top: 1107px;">
            <a href="http://wpexplorer-demos.com/fashionista/teen-idol-winner/" title="Teen Idol Winner" class="loop-entry-img-link">
                <img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/safari-dress-440x662.jpg" alt="Teen Idol Winner">
                <div class="entry-overlay"><span class="icon-plus"></span></div>
            </a>
            <h2><a href="http://wpexplorer-demos.com/fashionista/teen-idol-winner/" title="Teen Idol Winner">Teen Idol Winner</a></h2>
            <div class="entry-text">
                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….</p>
                <ul class="loop-entry-meta clearfix">
                    <li class="meta-date"><span class="icon-calendar"></span>September 18, 2012</li>
                    <li class="meta-comments"><span class="icon-comment"></span> <a href="http://wpexplorer-demos.com/fashionista/teen-idol-winner/#respond" class="comments-link" title="Comment on Teen Idol Winner">0 comments</a></li>
                    <li class="meta-zilla-likes"><a href="#" class="zilla-likes" id="zilla-likes-139" title="Like this"><span class="zilla-likes-count">23</span> <span class="zilla-likes-postfix"></span></a></li>			</ul> <!-- /loop-entry-meta -->
            </div><!-- /entry-text -->
        </article><!-- /entry -->

    </div><!-- /wpex-grid-wrap -->
</section>
<!-- /related-posts -->

<div class="clear"></div>
</div><!-- /main-content -->
</div>